@page
@model WebApplication22.Pages.Admin.Credito.IndexModel

<div>
    <a asp-page="Create" class="btn-link">Novo Registro</a>
</div>
<br />
<table class="table table-bordered">
    <tr>
        <th style="text-align:center">Id</th>
        <th style="text-align:center">Descrição</th>
        <th style="text-align:center">...</th>
    </tr>
    @foreach (var item in Model.Credits)
    {
        <tr>
            <td style="width:10%;text-align:center">@item.Id</td>
            <td style="width:65%">@item.Description</td>
            <td style="width:25%;text-align:center">
                <a asp-page="Edit" asp-route-id="@item.Id">Alterar Registro</a> |
                <a asp-page="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
</table>